# # Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/

# nim directories
nimcache/
nimblecache/
htmldocs/

# custom build and download directories
build/
thirdparty/
testresults/
testresults.html

# from windows build
*.pdb

# for builds in general
examples/glslangValidator
examples/glslangValidator.exe
notes

# from API generator
src/vulkan_api/output/
